.root {
  cursor: pointer;
  color: #f4f4f8;
  border: 0px;
  border-radius: 4px;
  padding: 12px;
}

.primary {
  background: #fed766;
}

.secondary {
  background: #fe4a49;
}

.tertiary {
  background: #009fb7;
}
